// Styling for the clear search icon
.t-Form-inputContainer, .a-GV-columnItem {
  .search-clear {
    order: 3;
    right: 20px;
    align-self: center;
    height: 14px;
    margin-right: -14px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
  }
}
.a-GV-columnItem {
  .search-clear {
    // we need more room in the IG for the search button
    right: 20px + 32px;
  }
  .u-Processing.u-Processing--inline {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
  }
}


.modal-lov-button {
  order: 4;
}

// Styling for Large items
.t-Form--large .t-Form-inputContainer .search-clear {
  padding: 9px;
}

// Styling for the modal LOV dialog
.ui-dialog {
  &.modal-xs,
  &.modal-sm {
    width: 480px !important;
  }
  &.modal-l,
  &.modal-md {
    width: 600px !important;
  }
  &.modal-xl,
  &.modal-lg {
    width: 720px !important;
  }
}

// Styling for the modal LOV
.modal-lov {
  display: flex;
  flex-direction: column;
  .no-padding {
    padding: 0;
  }
  .t-Form-fieldContainer{
    flex: 0;
  }
  .t-DialogRegion-body {
    flex: 1;
    overflow-y: auto;
  }
  .u-Processing.u-Processing--inline {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .t-Form-inputContainer input.modal-lov-item {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 35px !important;
  }

  .modal-lov-table {
    .t-Report-cell {
      cursor: pointer;
    }
    .hover .t-Report-cell {
      background-color: inherit!important;
    }
    .mark .t-Report-cell {
      background-color: inherit!important;
    }
  }
}

// Support for Interactive Grid
.a-GV-columnItem .apex-item-group {
  width: 100%;
}
.a-GV-columnItem .oj-form-control { 
  max-width: none;
  margin-bottom: 0;
}